html,
body {
  height: 100%;
  margin: 0;
  font-size: 100%;
}

body.dark
{
	background-color: #212936;
	color: #c5c8c6;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  margin: 0 5px 5px 5px
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .row.footer {
  margin: 0 5px 0 5px;
  flex: 0 1 auto;
}

.filterRadio {
  border: 1px solid #000;
  padding-bottom: 2px;
  display: inline;
}

.dark .filterRadio 
{
	border: 1px solid gray;
}

.radioLabel {
	position: relative;
	top: 2px;
}

.radio {
	position: relative;
	top: 3px;
}

table, th, td {
  text-align: center;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 2px;
}
tr.even{background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

.dark td, .dark th
{
	border: 1px solid gray;
}
.dark tr.even{background-color: #394150;}
.dark tr:hover{background-color: #32302f;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
.dark th{
  background-color: #212936;
  color: inherit;
}
thead tr th {
  position: sticky;
  top: -1px;
}
img {
  vertical-align: middle;
}
img.pokemon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.msikma {
	height: auto;
	position: relative;
	top: -14px;
}
div.msikma {
	height: 40px;
	overflow: hidden;
}
.event, .pokemon, .notes, .history, .proofName
{
	font-size: 0.75em;
}

tr.personal 
{
	background-color: #70AD47 !important; 
}
.dark tr.personal
{
	background-color: #4B51B3 !important; 
}
tr.traded
{
	background-color: #d1c449 !important;
	text-decoration: line-through;
}
.dark tr.traded
{
	background-color: #610061 !important;
}
tr td.wrongGen
{
	background-color: yellow;
}
.dark tr td.wrongGen
{
	background-color: #BF7C00 !important;
}

.dark a:link
{
	color: lightskyblue;
}
.dark a:visited, .dark a:hover, .dark a:active
{
	color:#6d4b8d;
}
.dark .personal a:visited, .dark .personal a:hover, .dark .personal a:active
{
	color: darkcyan;
}
.dark .traded a:visited, .dark .traded a:hover, .dark .traded a:active
{
	color: darkcyan;
}